<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper  namespace="com.baizhi.cmfz.dao.BannerDAO" >

    <select id="selectBannerByPage"  resultType="Banner" >
      select * from banner limit #{start},#{page}
    </select>

    <select id="selectCount" resultType="int">
        select count(1) from banner
    </select>

    <delete id="deleteBanner" parameterType="int">
        delete from banner where id=#{id}
    </delete>

    <insert id="insertBanner" parameterType="Banner">
        insert into banner values(0,#{title},#{url},#{status},#{createDate},#{description})
    </insert>

    <update id="updateBanner" parameterType="Banner">
        update banner set status=#{status} where id=#{id}
    </update>

    <select id="selectBannerById" parameterType="int" resultType="Banner">
        select * from banner where id=#{id}
    </select>

    <!--查询所有需要展示的图片-->
    <select id="selectBannerByStatus" resultType="Banner">
       select id,title,url from banner where status="Y"
    </select>
</mapper>


